<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler, log4net" />
  </configSections>
  
  <connectionStrings>
    <!--<add name="connectionString" connectionString="Data Source=192.168.1.30;Initial Catalog=DW_iSecureCloud_Empty;User ID=sa;Password=Windows2008" />-->
   <add name="connectionString" connectionString="Data Source=192.168.1.128;Initial Catalog=DW_iSecureCloud_Empty2.2;User ID=sa;Password=861004" />
   </connectionStrings>
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <!--标题、图标、端口、开机自启-->
    <add key="FormTitle" value="数据接收" />
    <add key="AppIcon" value="\pic\app.ico" />
    <add key="Port" value="5055" />
    <add key="OpenRun" value="False" />
    
    <add key="address" value="tcp://127.0.0.1:5555"/>

    <add key="logviewCount" value="100"/>
    
    <!-- <add key="CalculateInterval" value="5"/> -->
    <!--端口工作模式 -->
    <add key="Mode" value="0"/>
    <!--在线列表维持时间-->
    <add key="ListTimeout" value="200"/>
    <!--扫描数据时间间隔-->
    <add key="timeinterval" value="15"/>
    <!--澜沧江dtu-->
    <add key="LCJDTUCode" value="20130083"/>
    
    <!--原始数据存放位置-->
    <add key="DATAORIGINALPath" value="D:\Path"/>
    
    <!--主题数据实体类所在的程序集名称和命名空间名称-->
    <add key="DataModelAssembly" value="DataModel"/>
    <add key="DataModelSpace" value="DataModel.DataThemes"/>
    <add key="VibrationPath" value="D:\Vibration"/>


    <add key="ProcessCalcu" value="DataCalc"/>
    
    <!--传感器类型,依次是电压、振弦、雨量、GPS、风、磁通量、振动、温湿度、液压变送器、LVDT、光栅光纤，温度(于家堡),测斜-->
    <add key="Voltage" value="1"/>
    <add key="Vibrating" value="2"/>
    <add key="Rainfall" value="3"/>
    <add key="GPS" value="4"/>
    <add key="Wind" value="5"/>
    <add key="MagneticFlux" value="6"/>
    <add key="Vibration" value="8"/>
    <add key="TempHumi" value="9"/>
    <add key="HydraulicTransmitter" value="11"/>
    <add key="LVDT" value="2"/>
    <add key="FiberGrating" value="13"/>
    <add key="TempSpecial" value="14"/>
    <add key="Inclinometer" value="15"/>
    
  </appSettings>

  <log4net>
    <!--使用rolling方式记录日志-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Log.log" />
      <!--文件名设为log.txt-->
      <appendToFile value="true" />
      <!--追加文本属性设为true,直到该文件大小超过100KB-->
      <rollingStyle value="Size" />
      <!--根据文件大小进行回滚-->
      <maxSizeRollBackups value="10" />
      <!--最大文件个数为10个-->
      <maximumFileSize value="5000KB" />
      <!--每个文件大小不超过100KB-->
      <CountDirection value="1" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger [%thread] (%file %line) -- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0.30319" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>