<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <appSettings>
    <!--To enable internal log4net logging specify the following appSettings key-->
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
    
    <!--数据库连接字符串-->
    <add key="ConnectionStringFixed" value="Data Source=.\DB\DataExtraction.db3;Version=3;Pooling=False;Max Pool Size=100"/>
    <!--数据库连接是否加密-->
    <add key="ConStringEncrypt" value="False"/>

    <add key="byteint" value="250"/>
    
    <!--是否提取振动定时采样数据,True:提取，false:不提取；默认不提取-->
    <add key="IsExtractTimeSamplingData" value="False"/>

    <!--ART振动文件提取成功是否移动文件-->
    <add key="MoveFileIfExtractSuccessful" value="false"/>
    
    <add key="FSDEDAL" value="FSDE.DAL"/>
    <!--心跳时间间隔，单位分钟-->
    <add key="heartbeatInterval" value="2"/>

    <!--提取其他类型数据时，是否按日提取-->
    <add key="otherDBSelectByDay" value="true"/>

    <!--提取其他类型数据时，从当前时间指定分钟数之前开始提取-->
    <add key="otherDBDelayMinute" value="5"/>
    
    <!--安全监测因素和数据表对应关系-->
    <add key="5" value="TempHumiData"/>
    <add key="6" value="RainFallData"/>
    <add key="9" value=""/>
    <add key="10" value="InclinationData"/>
    <add key="11" value="PressureData"/>
    <add key="12" value="VibratingWireData"/>
    <add key="13" value="VibratingWireData"/>
    <add key="14" value=""/>
    <add key="15" value="VibratingWireData"/>
    <add key="16" value="VibratingWireData"/>
    <add key="17" value="VibratingWireData"/>
    <add key="18" value="WindData"/>
    <add key="19" value=""/>
    <add key="20" value="InclinationData"/>
    <add key="21" value="PressureData"/>
    <add key="22" value="LVDTData"/>
    <add key="23" value="VibratingWireData"/>
    <add key="24" value=""/>
    <add key="25" value="LVDTData"/>
    <add key="26" value="TempHumiData"/>    
    <add key="27" value=""/>    
    <add key="29" value=""/>
    <add key="30" value="WindData"/>
    <add key="31" value="PressureData"/>
    <add key="32" value=""/>

    <!--程序内部构建的数据表，多个表名用','隔开-->
    <add key="Tables" value="VibratingWireData,InclinationData,PressureData,TempHumiData,VoltageData,RainFallData,MagneticFluxData,WindData,LVDTData"/>
    
    <!--数据表名和字段,字段之间用','隔开-->
    <!--振弦数据表-->
    <add key="VibratingWireData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,Frequency_VALUE,TEMPERATURE_VALUE,PhysicalValue"/>
    <!--测斜数据-->
    <add key="InclinationData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,AngleOriginalX,AngleOriginalY,AngleOffsetX,AngleOffsetY,DISPLACEMENT_X_VALUE,DISPLACEMENT_Y_VALUE,CalcuX,CalcuY"/>
    <!--压力数据-->
    <add key="PressureData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,ColPressureValue,CulcValue,AvgValue"/>
    <!--温湿度数据表-->
    <add key="TempHumiData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,TEMPERATURE_VALUE,HUMILITY_VALUE"/>
    <!--电压数据表-->
    <add key="VoltageData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,OrgVoltage,displayment"/>
    <!--雨量数据表-->
    <add key="RainFallData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,RainFall"/>
    <!--磁通量数据表-->
    <add key="MagneticFluxData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,OrgVoltage,HUMILITY_VALUE,Mechan_Value,AvgMechanValue"/>
    <!--风向风速数据表-->
    <add key="WindData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,WIND_SPEED_VALUE,WIND_DIRECTION_VALUE,TEMPERATURE_VALUE,WIND_ELEVATION_VALUE"/>
    <!--LVDT数据表-->
    <add key="LVDTData" value="SENSOR_SET_ID,ModuleNo,ChannelID,ACQUISITION_DATETIME,SAFETY_FACTOR_TYPE_ID,OriginalDisplayment,OffsetDisplayment"/>
    <!--GPS数据-->
    <add key="GPSData" value=""/>
    <!--光栅光纤数据表-->
    <add key="" value=""/>
    <!--主应力-->
    <add key="" value=""/>
    <!--振动-->
    <add key="" value=""/>
  
  </appSettings>
  

<log4net>
    
    <!--使用rolling方式记录日志-->
    <!--Info-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG\" />
      <!--文件名设为log.txt-->
      <appendToFile value="true" />
      <!--追加文本属性设为true,直到该文件大小超过100KB-->
      <!--<rollingStyle value="Size" />-->
      <param name="rollingStyle" value="Date" />
      <param name="datePattern" value="yyyy-MM-dd.'info'" />
      <!--根据文件大小进行回滚-->
      <maxSizeRollBackups value="10" />
      <!--最大文件个数为10个-->
      <maximumFileSize value="100KB" />
      <!--每个文件大小不超过100KB-->
      <!--<CountDirection value="1" />-->
      <!--<staticLogFileName value="true" />-->
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger [%thread] (%file %line) -- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    
    <!--DEBUG-->
    <appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG\" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <!--<RollingStyle value="Size" />-->
      <param name="rollingStyle" value="Date" />
      <param name="datePattern" value="yyyy-MM-dd.'debug'" />
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger [%thread] (%file %line) - %message%newline" />
        <!--线程ID:[%thread]日志级别：%-5level 出错类：%logger [%property{NDC}]-->
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>

    <!--WARN-->
    <appender name="WarnRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG\" />
      <appendToFile value="true" />
      <param name="rollingStyle" value="Date" />
      <param name="datePattern" value="yyyy-MM-dd.'warn'" />
      <param name="staticLogFileName" value="false"/>
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <!--<RollingStyle value="Size" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger [%thread] (%file %line) -- %message%newline" />
        <!-- 线程ID:[%thread]日志级别：%-5level 出错类：%logger [%property{NDC}]-->
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <!--ERROR-->
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG\" />
      <appendToFile value="true" />
      <param name="rollingStyle" value="Date" />
      <param name="datePattern" value="yyyy-MM-dd.'error'" />
      <param name="staticLogFileName" value="false"/>
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <!--<RollingStyle value="Size" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger [%thread] (%file %line) - %message%newline" />
        <!--线程ID:[%thread]日志级别：%-5level 出错类：%logger [%property{NDC}]-->
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>

    <!--FATAL-->
    <appender name="FatalRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG\" />
      <appendToFile value="true" />
      <param name="rollingStyle" value="Date" />
      <param name="datePattern" value="yyyy-MM-dd.'fatal'" />
      <param name="staticLogFileName" value="false"/>
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <!--<RollingStyle value="Size" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger [%thread] (%file %line) - %message%newline" />
        <!--线程ID:[%thread]日志级别：%-5level 出错类：%logger [%property{NDC}]-->
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="DebugRollingFileAppender" />
      <appender-ref ref="WarnRollingFileAppender" />
      <appender-ref ref="ErrorRollingFileAppender" />
      <appender-ref ref="FatalRollingFileAppender" />
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
  </log4net>

</configuration>